<mat-card class="login-card">
  <!-- <mat-card-header class="header">
    <mat-card-title>Login</mat-card-title>
  </mat-card-header> -->
  
  <mat-card-content>
    <div class="header">
      <h2>REGISTER</h2>
    </div>
    <form class="example-form" [formGroup] ="signupForm" (ngSubmit)="onSubmit()" name="loginForm">
      <div class="email-input">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>First Name</mat-label>
        <input matInput placeholder="firstName"  formControlName="firstName" required> 
        </mat-form-field>
    </div>

    <div class="email-input">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Last Name</mat-label>
      <input matInput placeholder="lastName"  formControlName="lastName" required> 
      </mat-form-field>
  </div>

      <div class="email-input">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Email</mat-label>
            <input matInput placeholder="email"  formControlName="email" required> 
            <!-- <mat-error *ngIf="loginForm.get('email').errors?.required">
            Required
            </mat-error> -->
            </mat-form-field>
        </div>

        <div class="email-input">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>userName</mat-label>
          <input matInput placeholder="userName"  formControlName="userName" required> 
          </mat-form-field>
      </div>
    

        <div>
          <span class="aLink">Forgot Password</span>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" type="password" formControlName="password" required>
           

            <!-- <mat-error *ngIf="loginForm.get('password').errors?.required">
              Password Required
              </mat-error> -->
              </mat-form-field>
        </div>

        <button mat-flat-button color="primary" type="submit"> Login</button>
        </form>
  </mat-card-content>
</mat-card>

<!-- <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
              <input matInput placeholder="First Name" [(ngModel)]="user.firstName" name="username" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
              <input matInput placeholder="Last Name" [(ngModel)]="user.lastName" name="username" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
                <mat-form-field class="full-width">
                    <input matInput [matDatepicker]="dobPicker" placeholder="Date of Birth" [(ngModel)]="user.dateOfBirth" name="dob" required>
                    <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
                    <mat-datepicker #dobPicker></mat-datepicker>
                  </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
              <input matInput placeholder="Email" [(ngModel)]="user.email" name="email" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
              <input matInput placeholder="userName" [(ngModel)]="user.userName" name="userName" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Password" [(ngModel)]="user.password"type="password" name="password" required>
          </mat-form-field></td>
        </tr></table>
      </form>
       <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
    <!-- </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="signup()" color="primary" >Sign Up</button>
    </mat-card-actions>
  </mat-card> --> 